// Font Variables
$base-font : 'Signika';
$headerFont : 'Berkshire Swash';

// Media Queries
$md : 1200px;
$sm : 990px;
$xs : 767px;
$xss : 560px;

// Color Variables
$white : #ffffff;
$black : #000000;
$baseText : #007377;
$iconColor : #00dcc5;
$headingColor : #00435f;
$lightText : #d6f3e9;
$yellow : #ffcc00;
$darkBrown : #542400;
$lightBg : #edf9f5;
$aboutText : #458780;
$featurebg : #008696;
$popText : #0b3834;