@font-face {
    font-family: 'Berkshire Swash';
    src: url('../fonts/BerkshireSwash-Regular.woff') format('woff'),
        url('../fonts/BerkshireSwash-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Semibold.woff') format('woff'),
        url('../fonts/Signika-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Bold.woff') format('woff'),
        url('../fonts/Signika-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Light.woff') format('woff'),
        url('../fonts/Signika-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Regular.woff') format('woff'),
        url('../fonts/Signika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

