@font-face {
    font-family: 'Berkshire Swash';
    src: url('BerkshireSwash-Regular.woff') format('woff'),
        url('BerkshireSwash-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('Signika-Semibold.woff') format('woff'),
        url('Signika-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('Signika-Bold.woff') format('woff'),
        url('Signika-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('Signika-Light.woff') format('woff'),
        url('Signika-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('Signika-Regular.woff') format('woff'),
        url('Signika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

